In [33]:
# computing gcd(m,n)

# gcd(14,63)

def gcd(m,n):
    fm = []
    for i in range(1,m+1):
        if (m%i) == 0:
            fm.append(i)
            
    fn = []
    for j in range(1,n+1):
        if (n%j)==0:
            fn.append(j)
            
    cf = []
    for f in fm:
        if f in fn:
            cf.append(f)
            
    return(cf[-1])

In [34]:
gcd(14,63)

7

In [35]:
# we can solve above question in better way

def gcd(m,n):
    cf = []
    for i in range(1,min(m,n)+1):
        if (m%i) ==0 and (n%i) == 0:
            cf.append(i)
            
    return(cf[-1])

In [36]:
gcd(14,63)

7

In [37]:
# we can also find without list

def gcd(m,n):
    for i in range(1,min(m,n)+1):
        if (m%i) ==0 and (n%i) == 0:
            mrcf = i      ### mrcf means most recent common factor, it is a inbuit function
    
    return(mrcf)

In [38]:
gcd(14,63)

7

In [7]:
# how we will do in backward way

def gcd(m,n):
    i = min(m,n)
    while i>0: # WE use while loop when we dont know in advance how many times we will repeatethe step
        if (m%i)==0 and (n%i)==0:
            return(i)
            
        else:
            i = i-1 # update i to to i-1

In [8]:
gcd(14,63)

7

+ for - for loop has fixed number of repitation

+ while - while loop used when when we dont know in advance how many times we will repeate the steps

In [9]:
 # Euclid's algorithm

def gcd(m,n):
    # assume m>=n
    if m<n:
        (m,n) = (n,m)  # here we interchange if m<n
        
    if (m%n)==0:
        return(n)
    
    else:
        diff = m-n
        # diff > n? possible!
        return(gcd(max(n,diff),min(n,diff)))  # it is called recursion

In [10]:
gcd(14,63)

7

In [11]:
# other version of Euclid's algorithm

def gcd(m,n):
    # assume m>=n
    if m<n:
        (m,n) = (n,m)
    
    while (m%n) != 0:
        diff = m-n
        
        (m,n) = (max(n,diff),min(n,diff)) # ex gcd(101,2),gcd(99,2),...,gcd(5,2),gcd(3,2),gcd(2,1)
    return(n)                                                         # so gcd(101,2):- n=1

In [12]:
gcd(14,63)

7

In [13]:
# BETTER APPROACH OF EUVLID'S ALGORITHM

def gcd(m,n):
    if m<n:
        (m,n) =(n,m)
        
    if (m%n)==0:
        return(n)
    
    else:
        return(gcd(n,m%n))  # m%n < n, always

In [14]:
gcd(14,63)

7

In [15]:
def gcd(m,n):
    if m<n:
        (m,n) =(n,m)

In [16]:
def twice(x):
    y = 2*x
    return(y)

print(twice(8))

16

In [17]:
i = 5
j = 2*i
j = j+5

print(i,j)

5 15

In [18]:
type(i),type(j)

(int, int)

In [19]:
from math import *

In [20]:
def divide(m,n):
    if n%m == 0:
        return(True)
        
    else:
        return(False)

In [21]:
divide(4,14)

False

In [22]:
def even(n):
    if n%2 == 0:
        print('it is even')
        
    else:
        print('it is odd')

In [23]:
even(45)

it is odd

In [24]:
def even(n):
    return(divide(2,n))

In [25]:
even(42)

True

In [26]:
even(51)

False

In [27]:
def odd(n):
    return(not divide(2,n))

In [28]:
odd(41)

True

In [29]:
odd(42)

False

In [30]:
myquate = '''first line
second line
third line
'''
myquate

'first line\nsecond line\nthird line\n'

In [31]:
s= 'hello'
s[-1]

'o'

In [32]:
s[-2]

'l'

In [33]:
# concatination
t = s + ", there"
t

'hello, there'

In [34]:
t = 'there'

In [35]:
s+t

'hellothere'

In [36]:
t = ' there'

In [37]:
s+t

'hello there'

In [38]:
len(s)

5

In [39]:
# extracting substring

# Slice

s= 'hello'
s[1:4]

'ell'

In [40]:
s[:4]

'hell'

In [41]:
s[2:]

'llo'

In [42]:
# s= 'hello', want to change to "help!"
s = s[:3]+"p!"
s

'help!'

In [23]:
def reversenot(s_n):
    str = " "
    for i in s:
        str = str + i
    return(str)

In [22]:
s_n  = "hello"

In [24]:
reversenot(s_n)

' hello'

In [25]:
def reverse(s):
    str = " "
    for i in s:
        str = i + str
    return(str)

In [26]:
s = 'hello'

In [28]:
reverse(s)

'olleh '

In [29]:
s = "hello"

In [30]:
s[::-1]  # reverse the string

'olleh'

# List

In [43]:
factor = [1,2,5,10]
names = ["ram","mohan","john"]
mixed = [3,True,"yellow"]

In [44]:
factor[3]

10

In [45]:
mixed[0:2]

[3, True]

In [46]:
mixed[:2]

[3, True]

In [47]:
mixed[1:]

[True, 'yellow']

In [48]:
len(mixed)

3

In [49]:
factor[0]

1

In [50]:
factor[0:1]

[1]

In [31]:
l = [5,6,6,4,4,5,8,4]

In [32]:
l[::-1]

[4, 8, 5, 4, 4, 6, 6, 5]

# Nested list

In [51]:
nested = [[2,[37]],4,["hello"]]

In [52]:
nested[0]

[2, [37]]

In [53]:
nested[0][1]

[37]

In [54]:
nested[1]

4

In [55]:
nested[2][0][3]   # [0] FOR STRING

'l'

In [56]:
nested[0][1:2]   # slices gives list

[[37]]

# updating list

In [57]:
nested[1]=7
nested[0][1][0]=19

In [58]:
nested

[[2, [19]], 7, ['hello']]

In [59]:
x=5
y=x
x=7
print(y)

5

In [60]:
list1 = [1,3,5,7]
list2 = list1
list1[2] = 4

In [61]:
list2[2]

4

# coping lists

In [62]:
list1= [1,3,5,7]
list2 = list1[:]

In [63]:
print(list1)
print(list2)

[1, 3, 5, 7]
[1, 3, 5, 7]

In [64]:
list1[1]=4
list1

[1, 4, 5, 7]

In [65]:
list2

[1, 3, 5, 7]

In [66]:
# Digression on equality
list1 = [1,3,5,7]
list2 = [1,3,5,7]
list3 = list2

In [67]:
# x==y checks if x and y have same value
# x is y checks x and y refers to same objectl

In [68]:
list1 == list2

True

In [69]:
list2 == list3

True

In [70]:
list1 is list2

False

In [71]:
list2 is list3

True

## concatenation

In [72]:
list1 = [1,3,5,7]
list2 = [2,4,6,8]
list3 = list1 + list2
list3

[1, 3, 5, 7, 2, 4, 6, 8]

In [73]:
list1 = [1,3,5,7]
list2 = list1
list1 = list1+[9]
list1

[1, 3, 5, 7, 9]

In [74]:
list1 is list2

False

In [75]:
list2

[1, 3, 5, 7]

# Control Flow

In [76]:
if x == 1:
    y = f1(x)
else:
    if x ==2:
        y = f2(x)
    else:
        if x==3:
            y = f3(x)
   #    else:
    #        y = f4(x)

In [77]:
# same as above
if x == 1:
    y = f1(x)
elif x==2:
    y = f2(x)
elif x == 3:
    y = f3(x)
#else:
#    y = f4(x)

# Loops

In [78]:
y = z= k= 1
for i in [1,2,3,4]:
    y = y*i     # y*1*2*3*4
    z = z+1     # z+1+1+1+1
    k = k+2     # k+2+2+2+2

In [79]:
print(y,z,k)

24 5 9

In [80]:
# for i in [1,2,3,....,n] == for i in range(0,n)

In [81]:
# find all the factor of number n
def factors(n):
    flist = []
    for i in range(1,n+1):
        if n%i == 0:
            flist = flist+[i]

    return(flist)

In [82]:
factors(45)

[1, 3, 5, 9, 15, 45]

In [83]:
def gcd(m,n):
    if m<n:
        (m,n)=(n,m)
    while m%n != 0:
        (m,n) = (n,m%n)
    return(n)

In [84]:
gcd(123,34556)

1

In [85]:
y = z= k=p= 2
for i in [1,2,3,4]:
    y = y*i     # y*1*2*3*4
    z = z+1     # z+1+1+1+1
    k = k+2     # k+2+2+2+2
    p = p*3     # p*3*3*3*3

In [86]:
print(y,z,k,p)

48 6 10 162

# Function

In [87]:
def power(x,n):
    ans = 1
    for i in range(0,n):
        ans = ans*x
    return(ans)

In [88]:
power(3,5)

243

In [89]:
len(range(0,5))

5

In [90]:
def update(l,i,v):  # where l is list, i is position, v is updated value
    if i>=0 and i<len(l):
        l[i] = v
        return(True)
    else:
        v = v+1
        return(False)

In [91]:
ns = [3,11,12]
z = 8
update(ns,2,z)

True

In [92]:
ns

[3, 11, 8]

In [93]:
update(ns,4,z)

False

In [94]:
ns

[3, 11, 8]

In [95]:
def stupid(x):
    n = 17         # here n is inside function
    return(x)

In [96]:
n = 7  # here n is outside function so there is no effect of inside n on outside n
v= stupid(28)

In [97]:
n

7

In [98]:
def f(x):
    return (g(x+1))

def g(y):
    return(y+3)

f(77) # f(77)--->g(78)--->then it return y+3=81

81

In [99]:
def p(x):
    return (q(x+1))
p(77) # p(77)--->q(78)---> after that they not found q function thats why it show error
def q(y):
    return(y+3) # here it shows error

NameError: name 'q' is not defined

# Recursive Function
A function can call itself is called recursion

In [100]:
def factorial(n):
    if n <= 0:
        return(1)
    else:
        val = n * factorial(n-1)
        return(val)

In [101]:
factorial(5)

120

In [102]:
factorial(4)

24

In [103]:
def fact(n):
    if n<=0:
        return 1
    else:
        val = n*fact(n-1)
        return(val)

In [104]:
fact(5)

120

In [105]:
fact(0)

1

#### examples of function

In [56]:
# find all factors of n

def factor(n):
    fac_lst = []
    for i in range(1,n+1):
        if n%i == 0:
            fac_lst = fac_lst+[i]
    return(fac_lst)

In [57]:
factor(200)

[1, 2, 4, 5, 8, 10, 20, 25, 40, 50, 100, 200]

In [58]:
# Prime number
def isprime(n):
    return(factor(n)==[1,n])

In [109]:
isprime(17)

True

In [110]:
# prime upto n

def primeupto(n):
    primelist = []
    for i in range(1,n+1):
        if isprime(i):
            primelist = primelist+[i]
            
    return(primelist)

In [111]:
primeupto(100)

[2,
 3,
 5,
 7,
 11,
 13,
 17,
 19,
 23,
 29,
 31,
 37,
 41,
 43,
 47,
 53,
 59,
 61,
 67,
 71,
 73,
 79,
 83,
 89,
 97]

#### First n prime

In [112]:
def nprime(n):
    (count,i,plist) = (0,1,[])
    while(count<n):  # we don't know how many numbers to scan
        if isprime(i):
            (count,plist) = (count+1,plist+[i])
        i=i+1     # unconditional
    return(plist)

In [113]:
nprime(100)

[2,
 3,
 5,
 7,
 11,
 13,
 17,
 19,
 23,
 29,
 31,
 37,
 41,
 43,
 47,
 53,
 59,
 61,
 67,
 71,
 73,
 79,
 83,
 89,
 97,
 101,
 103,
 107,
 109,
 113,
 127,
 131,
 137,
 139,
 149,
 151,
 157,
 163,
 167,
 173,
 179,
 181,
 191,
 193,
 197,
 199,
 211,
 223,
 227,
 229,
 233,
 239,
 241,
 251,
 257,
 263,
 269,
 271,
 277,
 281,
 283,
 293,
 307,
 311,
 313,
 317,
 331,
 337,
 347,
 349,
 353,
 359,
 367,
 373,
 379,
 383,
 389,
 397,
 401,
 409,
 419,
 421,
 431,
 433,
 439,
 443,
 449,
 457,
 461,
 463,
 467,
 479,
 487,
 491,
 499,
 503,
 509,
 521,
 523,
 541]

 can we use while to simulate for


 for i in range(i,j)                n = i
                                   while n<j:
 statement                            statement

### More about range

In [114]:
range(3,6) # range(i,j) produce sequence of i,i+1,......,j-1

range(3, 6)

In [115]:
range(5)  # range(j) automatically start from 0; 0,1,2,.....,j-1

range(0, 5)

In [116]:
range(1,20,3) # range(i,j,k) increment by k; i,i+k,i+2k,....,i+nk

range(1, 20, 3)

In [117]:
range(20,1,-1) # range(i,j,k) increment by k; i,i-k,i-2k,....,i-nk , i>j,k is negative int

range(20, 1, -1)

In [118]:
#range and list
#for i in [0,1,2,3,4,5,6,7,8,9]
#for i in range(0,10)
# both are same

In [119]:
# convert range to a list
list(range(0,12))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11]

In [120]:
[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11]==  range(0,12) # but in python 2 it show true

False

In [121]:
[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11]==list(range(0,12))

True

In [122]:
str(45)

'45'

In [123]:
int('352')

352

# Manipulating List

In [124]:
list1 = [1,3,5,6]
list2 = list1
list1[2]=7

In [125]:
list1

[1, 3, 7, 6]

In [126]:
list2 # also change in list2

[1, 3, 7, 6]

In [127]:
list1 = [1,3,5,6]
list2 = list1
list1 = list1[0:2]+[7]+list1[3:] # here it create a new list

In [128]:
list1 # concatination produces a new list

[1, 3, 7, 6]

In [129]:
list2 # here it remains same because we created new list

[1, 3, 5, 6]

### Extending a list

In [130]:
list1 = [1,3,5,6]
list2 = list1
list1.append(12)  # here not created new list as above

In [131]:
list1

[1, 3, 5, 6, 12]

In [132]:
list2

[1, 3, 5, 6, 12]

In [133]:
list1 = [1,3,5,6]
list2 = list1
list1= list1 + [12]

In [134]:
list1

[1, 3, 5, 6, 12]

In [135]:
list2

[1, 3, 5, 6]

list1.append(v)-extend list1 by a single value v

list1.extend(list)-extend list1 by a list of value it, equivalent to list1 = list1 + list2

list1.remove(x)- remove first occurance of x,if there is noany x in the list then it show error

In [136]:
list1 = list(range(10))

In [137]:
list1.append(12)

In [138]:
list1

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 12]

In [139]:
list1.extend([13,14])

In [140]:
list1

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 12, 13, 14]

In [141]:
list2 = list1 + list1

In [142]:
list2

[0,
 1,
 2,
 3,
 4,
 5,
 6,
 7,
 8,
 9,
 12,
 13,
 14,
 0,
 1,
 2,
 3,
 4,
 5,
 6,
 7,
 8,
 9,
 12,
 13,
 14]

In [143]:
list2.remove(5)

In [144]:
list2

[0,
 1,
 2,
 3,
 4,
 6,
 7,
 8,
 9,
 12,
 13,
 14,
 0,
 1,
 2,
 3,
 4,
 5,
 6,
 7,
 8,
 9,
 12,
 13,
 14]

In [145]:
list2.remove(5) # we remove once again 5

In [146]:
list2

[0, 1, 2, 3, 4, 6, 7, 8, 9, 12, 13, 14, 0, 1, 2, 3, 4, 6, 7, 8, 9, 12, 13, 14]

In [147]:
list2.remove(5) # here once again try to remove 5 then it show error because there is no any more 5

ValueError: list.remove(x): x not in list

In [149]:
list1 = [1,3,5,6]
list2 = list1
list1[2:]=[7,8]

In [150]:
list1

[1, 3, 7, 8]

In [151]:
list2

[1, 3, 7, 8]

Can expand/shrinkslices, but be sure weknow what we are doing

In [152]:
list1[2:] = [9,10,11]

In [153]:
list1

[1, 3, 9, 10, 11]

In [154]:
list1[0:2] = [7]

In [155]:
list1

[7, 9, 10, 11]

# List membership

x in l returns True if value x is found in list l

# safely remove x from l

if x in l:
    l.remove(x)  # it remove only first value

# remove all occurence of x from l

while x in l:
    l.remove(x)

# Other function


l.reverse()  -- reversel in place

l.sort() --- sort l in ascending order

l.index(x)  -- find leftmost position of x in l

l.rindex(x)  -- find rightmost position of x in l

In [156]:
def factor(n):
    flist = []
    for i in range(1,n+1):
        if n%i ==0:
            flist.append(i)
    return(flist)

In [157]:
factor(10)

[1, 2, 5, 10]

# Breaking out of Loops

In [158]:
# Finding position
def findpos(l,v):
    # return first position of v inl
    # return -1 if v is not available
    (found,i) = (False,0)
    while i < len(l):
        if l[i] == v:  ## here it run upto last position which is unnececessory if v matches earlily so we need some modification 
            (found,pos) = (True,i)
    if not found:
        pos = -1
    return(pos)

In [159]:
def findpos(l,v):
    # return first position of v inl
    # return -1 if v is not available
    (found,i) = (False,0)
    while i < len(l):
        if not found and l[i] == v: 
            (found,pos) = (True,i)
    if not found:
        pos = -1
    return(pos)

In [168]:
# by for loop

def findpos(l,v):
    (pos,i) = (-1,0)
    for x in l:
        if x==v:  # exit and report the positon of x
            pos = i
            break    # it exit the loop
        i = i+1
        
    # if pos not reset in loop, pos is -1
    return(pos)

In [169]:
# in better way

def findpos(l,v):
    pos = -1
    for i in range(len(l)):
        if l[i]==v:   # exit and repor positon
            pos = i 
    
    # if pos not reset in loop, pos is -1
    return(pos)

In [171]:
def findpos(l,v):
    for i in range(len(l)):
        if l[i]==v:   # exit and repor positon
            pos = i
            break
    else:
        pos = -1 # no break, v not in l

# Arrays vs List, Binary search

## Search Problem

In [181]:
def search(seq,v):
    for x in seq:
        if x == v:
            return(True)
    return(False)

In [182]:
def bsearch(seq,v,l,r):  # search for v in seq[l:r], seq is sorted
    if (r-l == 0):
        return (False)
    mid= (l+r)//2
    if (v==seq[mid]):
        return (True)
    if (v<seq[mid]):
        return (bsearch(seq,v,l,mid))
    else:
        return (bsearch(seq,v,mid+1,r))

# Selection Sort

In [183]:
def SelectionSort(l): 
    # scan slice l[0:len(l)],l[1:len(l)],...
    for start in range(len(l)):  # start from zero position
        # find minimum value of slice.....
        minpos = start
        for i in range (start,len(l)):
            if l[i] < l[minpos]:
                minpos = i
        # ...... and move it to start of slice
        (l[start],l[minpos]) = (l[minpos],l[start])

# Insertion Sort

In [185]:
def InsertionSort(seq):
    for sliceEnd in range(len(seq)):
        # Build longer and longer sorted slices
        # In each interaction seq[0:sliceEnd] already sorted
        
        # Move first element after sorted slice left
        # till it is in correct place
        pos = sliceEnd
        while pos > 0 and seq[pos] < seq[pos-1]:
            (seq[pos],seq[pos-1]) = (seq[pos-1],seq[pos])
            pos = pos-1

In [195]:
l = list(range(20,0,-1))
l

[20, 19, 18, 17, 16, 15, 14, 13, 12, 11, 10, 9, 8, 7, 6, 5, 4, 3, 2, 1]

In [196]:
InsertionSort(l)

In [197]:
l

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20]

# Recursion

In [198]:
def factorial(n):
    if n == 0:
        return(1)
    else:
        return(n*factorial(n-1))

In [199]:
factorial(5)

120

In [207]:
def multiplication(m,n):
    if n==1:
        return(m)
    else:
        return(m + multiplication(m,n-1))

In [208]:
multiplication(2,3)

6

### Inductive defination for list

In [209]:
# Length of list
def length(l):
    if l == []:
        return (0)
    else:
        return(1+length(l[1:]))

In [210]:
l = [2,6,2,5,3,5,2,5]
length(l)

8

In [216]:
# sum of list of number
def sumlist(l):
    if l == []:
        return (0)
    else:
        return(l[0] + sumlist(l[1:]))

In [217]:
l = [2,6,2,5,3,5,2,5]
sumlist(l)

30

## Recursive insertion sort

In [218]:
def InsertionSort(seq):
    isort(seq,len(seq))
    
def isort(seq,k):  # sort slice seq[0:k]
    if k > 1:
        isort(seq,k-1)
        insert(seq,k-1)
        
def inser(seq,k):
    pos = k
    while pos > 0 and seq[pos] < seq[pos-1]:
        (seq[pos],seq[pos-1]) = (seq[pos-1],seq[pos])
        pos = pos-1

## Recursion limit in Python

Python sets a maximum recursion limit of about 1000 after that it shows 
RecursionError: maximum recursion depth exceeded in compparison

In [221]:
# we can manually raise the recursion limit as follows

import sys
sys.setrecursionlimit(10000)

# Mergesort

In [241]:
# merging
def merge(A,B):  # Merge A[0:M], B[0:n]
    (C,m,n) = ([],len(A),len(B))
    (i,j) = (0,0) # Current position in A,B
    while i+j < m+n:  # i+j is the no. of element merged so far
        if i == m:    #Case1: A is empty
            C.append(B[j])
            j = j+1
        elif j == n:  # Case2 : B is empty
            C.append(A[i])
            i = i+1
        elif A[i]<=B[j]:  # Case3 : Head of A is smaller
            C.append(A[i])
            i = i+1
        elif A[i]>B[j]:  # Case4 : Head of A is smaller
            C.append(B[j])
            j = j+1
    
    return(C)

In [242]:
a = list(range(0,100,2))
b = list(range(1,75,2))

In [243]:
len(a)

50

In [244]:
len(b)

37

In [245]:
a

[0,
 2,
 4,
 6,
 8,
 10,
 12,
 14,
 16,
 18,
 20,
 22,
 24,
 26,
 28,
 30,
 32,
 34,
 36,
 38,
 40,
 42,
 44,
 46,
 48,
 50,
 52,
 54,
 56,
 58,
 60,
 62,
 64,
 66,
 68,
 70,
 72,
 74,
 76,
 78,
 80,
 82,
 84,
 86,
 88,
 90,
 92,
 94,
 96,
 98]

In [246]:
b

[1,
 3,
 5,
 7,
 9,
 11,
 13,
 15,
 17,
 19,
 21,
 23,
 25,
 27,
 29,
 31,
 33,
 35,
 37,
 39,
 41,
 43,
 45,
 47,
 49,
 51,
 53,
 55,
 57,
 59,
 61,
 63,
 65,
 67,
 69,
 71,
 73]

In [247]:
merge(a,b)

[0,
 1,
 2,
 3,
 4,
 5,
 6,
 7,
 8,
 9,
 10,
 11,
 12,
 13,
 14,
 15,
 16,
 17,
 18,
 19,
 20,
 21,
 22,
 23,
 24,
 25,
 26,
 27,
 28,
 29,
 30,
 31,
 32,
 33,
 34,
 35,
 36,
 37,
 38,
 39,
 40,
 41,
 42,
 43,
 44,
 45,
 46,
 47,
 48,
 49,
 50,
 51,
 52,
 53,
 54,
 55,
 56,
 57,
 58,
 59,
 60,
 61,
 62,
 63,
 64,
 65,
 66,
 67,
 68,
 69,
 70,
 71,
 72,
 73,
 74,
 76,
 78,
 80,
 82,
 84,
 86,
 88,
 90,
 92,
 94,
 96,
 98]

In [248]:
# Merge sort
def mergesort(A,left,right):
    # sort the slice A[left:right]
    if right - left <= 1: # Base case
        return(A[left:right])
    
    if right - left > 1: # Recursive call
        mid = (left + right)//2
        
        L = mergesort(A,left,mid)
        R = mergesort(A,mid,right)
        
        return(merge(L,R))

In [249]:
a = list(range(1,100,2)) + list(range(0,100,2))

In [250]:
mergesort(a,0,len(a))

[0,
 1,
 2,
 3,
 4,
 5,
 6,
 7,
 8,
 9,
 10,
 11,
 12,
 13,
 14,
 15,
 16,
 17,
 18,
 19,
 20,
 21,
 22,
 23,
 24,
 25,
 26,
 27,
 28,
 29,
 30,
 31,
 32,
 33,
 34,
 35,
 36,
 37,
 38,
 39,
 40,
 41,
 42,
 43,
 44,
 45,
 46,
 47,
 48,
 49,
 50,
 51,
 52,
 53,
 54,
 55,
 56,
 57,
 58,
 59,
 60,
 61,
 62,
 63,
 64,
 65,
 66,
 67,
 68,
 69,
 70,
 71,
 72,
 73,
 74,
 75,
 76,
 77,
 78,
 79,
 80,
 81,
 82,
 83,
 84,
 85,
 86,
 87,
 88,
 89,
 90,
 91,
 92,
 93,
 94,
 95,
 96,
 97,
 98,
 99]

# Quicksort

In [1]:
def Quicksort(A,l,r): # sort A[l:r]
    if r-l<= 1:   # base case
        return()
    # partition w.r.t pivot,a[l]
    yellow = l+1
    
    for green in range(l+1,r):
        if A[green] <= A[l]:
            (A[yellow],A[green]) = (A[green],A[yellow])
            yellow = yellow+1
            
    # move pivot into place
    (A[l],A[yellow-1]) = (A[yellow-1],A[l])
    
    Quicksort(A,l,yellow-1) # Recursive call
    Quicksort(A,yellow,r)

In [2]:
l = list(range(500,0,-1))

In [3]:
Quicksort(l,0,len(l))

In [4]:
l

[1,
 2,
 3,
 4,
 5,
 6,
 7,
 8,
 9,
 10,
 11,
 12,
 13,
 14,
 15,
 16,
 17,
 18,
 19,
 20,
 21,
 22,
 23,
 24,
 25,
 26,
 27,
 28,
 29,
 30,
 31,
 32,
 33,
 34,
 35,
 36,
 37,
 38,
 39,
 40,
 41,
 42,
 43,
 44,
 45,
 46,
 47,
 48,
 49,
 50,
 51,
 52,
 53,
 54,
 55,
 56,
 57,
 58,
 59,
 60,
 61,
 62,
 63,
 64,
 65,
 66,
 67,
 68,
 69,
 70,
 71,
 72,
 73,
 74,
 75,
 76,
 77,
 78,
 79,
 80,
 81,
 82,
 83,
 84,
 85,
 86,
 87,
 88,
 89,
 90,
 91,
 92,
 93,
 94,
 95,
 96,
 97,
 98,
 99,
 100,
 101,
 102,
 103,
 104,
 105,
 106,
 107,
 108,
 109,
 110,
 111,
 112,
 113,
 114,
 115,
 116,
 117,
 118,
 119,
 120,
 121,
 122,
 123,
 124,
 125,
 126,
 127,
 128,
 129,
 130,
 131,
 132,
 133,
 134,
 135,
 136,
 137,
 138,
 139,
 140,
 141,
 142,
 143,
 144,
 145,
 146,
 147,
 148,
 149,
 150,
 151,
 152,
 153,
 154,
 155,
 156,
 157,
 158,
 159,
 160,
 161,
 162,
 163,
 164,
 165,
 166,
 167,
 168,
 169,
 170,
 171,
 172,
 173,
 174,
 175,
 176,
 177,
 178,
 179,
 180,
 181,
 182,
 183,
 184,
 185,
 186,
 187,
 188,
 189,
 190,
 191,
 192,
 193,
 194,
 195,
 196,
 197,
 198,
 199,
 200,
 201,
 202,
 203,
 204,
 205,
 206,
 207,
 208,
 209,
 210,
 211,
 212,
 213,
 214,
 215,
 216,
 217,
 218,
 219,
 220,
 221,
 222,
 223,
 224,
 225,
 226,
 227,
 228,
 229,
 230,
 231,
 232,
 233,
 234,
 235,
 236,
 237,
 238,
 239,
 240,
 241,
 242,
 243,
 244,
 245,
 246,
 247,
 248,
 249,
 250,
 251,
 252,
 253,
 254,
 255,
 256,
 257,
 258,
 259,
 260,
 261,
 262,
 263,
 264,
 265,
 266,
 267,
 268,
 269,
 270,
 271,
 272,
 273,
 274,
 275,
 276,
 277,
 278,
 279,
 280,
 281,
 282,
 283,
 284,
 285,
 286,
 287,
 288,
 289,
 290,
 291,
 292,
 293,
 294,
 295,
 296,
 297,
 298,
 299,
 300,
 301,
 302,
 303,
 304,
 305,
 306,
 307,
 308,
 309,
 310,
 311,
 312,
 313,
 314,
 315,
 316,
 317,
 318,
 319,
 320,
 321,
 322,
 323,
 324,
 325,
 326,
 327,
 328,
 329,
 330,
 331,
 332,
 333,
 334,
 335,
 336,
 337,
 338,
 339,
 340,
 341,
 342,
 343,
 344,
 345,
 346,
 347,
 348,
 349,
 350,
 351,
 352,
 353,
 354,
 355,
 356,
 357,
 358,
 359,
 360,
 361,
 362,
 363,
 364,
 365,
 366,
 367,
 368,
 369,
 370,
 371,
 372,
 373,
 374,
 375,
 376,
 377,
 378,
 379,
 380,
 381,
 382,
 383,
 384,
 385,
 386,
 387,
 388,
 389,
 390,
 391,
 392,
 393,
 394,
 395,
 396,
 397,
 398,
 399,
 400,
 401,
 402,
 403,
 404,
 405,
 406,
 407,
 408,
 409,
 410,
 411,
 412,
 413,
 414,
 415,
 416,
 417,
 418,
 419,
 420,
 421,
 422,
 423,
 424,
 425,
 426,
 427,
 428,
 429,
 430,
 431,
 432,
 433,
 434,
 435,
 436,
 437,
 438,
 439,
 440,
 441,
 442,
 443,
 444,
 445,
 446,
 447,
 448,
 449,
 450,
 451,
 452,
 453,
 454,
 455,
 456,
 457,
 458,
 459,
 460,
 461,
 462,
 463,
 464,
 465,
 466,
 467,
 468,
 469,
 470,
 471,
 472,
 473,
 474,
 475,
 476,
 477,
 478,
 479,
 480,
 481,
 482,
 483,
 484,
 485,
 486,
 487,
 488,
 489,
 490,
 491,
 492,
 493,
 494,
 495,
 496,
 497,
 498,
 499,
 500]

# Tuples and Dictionaries

In [18]:
score = {}

In [19]:
score["Tet1"] = {}
score["Tet2"] = {}

In [20]:
score["Tet1"]["Dhawan"] = 76
score["Tet2"]["Dhawan"] = 27
score["Tet1"]["Kohli"] = 200

In [21]:
score

{'Tet1': {'Dhawan': 76, 'Kohli': 200}, 'Tet2': {'Dhawan': 27}}

In [22]:
d ={}

In [23]:
for l in "abcdefghi":
    d[l]=l

In [24]:
d["a"]

'a'

In [25]:
d['i']

'i'

In [26]:
d.keys()

dict_keys(['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i'])

In [30]:
total = 0
for s in Test1.values():
    total = total + s

NameError: name 'Test1' is not defined

In [31]:
for n in ["Dhawan","Kohli"]:
    total[n] = 0
    for match in score.keys():
        if n in score[match].keys():
            total[n] = total[n] + score[match][n]

TypeError: 'int' object does not support item assignment

In [32]:
d = {}
d[0]=7
d

{0: 7}

# Function defination

In [33]:
def power(x,n):
    ans = 1
    for i in range(0,n):
        ans = ans*x
    return(ans)

In [35]:
power(n=5,x=3)

243

In [36]:
int('76')

76

In [37]:
int('A5')

ValueError: invalid literal for int() with base 10: 'A5'

Actually int(s,b) takes two argument ,string s and base b, b has default value 10

In [40]:
int('A5',16)   # 10*16+5  # A MEANS 10

170

In [41]:
int('B5',15)  # 11*15+5

170

In [44]:
def apply(f,x,n):   # f: function, x: argument, x:repitation
    res = x
    for i in range(n):
        res = f(res)
    return(res)

In [45]:
def square(x):
    return(x*x)

In [46]:
 square(5)

25

In [48]:
apply(square,5,2)  #  square(square(5))

625

In [49]:
square(square(5))

625

# List comprehension

In [51]:
# update an entire list
def applylist(f,l):
    for x in l:
        x = f(x)

### Built in function map()
map(f,l) applies f to each element of l

output of map(f,l) is not list!

use lisr(map(f,l)) to get a list

In [65]:
numberlist = list(range(20))
primelist = []
for i in numberlist:
    if isprime(i):
        primelist.append(i)
        return(primelist)

SyntaxError: 'return' outside function (165463715.py, line 6)

In [68]:
# in general
def select(property,l):
    sublist = []
    for x in l:
        if property(x):
            sublist.append(x)
    return(sublist)        

# note that property is a function that returns True or False for each element

### Built in function filter()
filter(p,l) chacks p for each element of l

output of sublist of values that satisfy p

#### Combining map and filter

In [73]:
# sum of square of even number from 0 to 99
#list(map(square,filter(iseven,range(100))))
 
def square(x):
    return(x*x)

def iseven(x):
    return(x%2==0)
list(map(square,filter(iseven,range(100))))

[0,
 4,
 16,
 36,
 64,
 100,
 144,
 196,
 256,
 324,
 400,
 484,
 576,
 676,
 784,
 900,
 1024,
 1156,
 1296,
 1444,
 1600,
 1764,
 1936,
 2116,
 2304,
 2500,
 2704,
 2916,
 3136,
 3364,
 3600,
 3844,
 4096,
 4356,
 4624,
 4900,
 5184,
 5476,
 5776,
 6084,
 6400,
 6724,
 7056,
 7396,
 7744,
 8100,
 8464,
 8836,
 9216,
 9604]

# Pythagorean triple: x^2 + y^2 = z^2

+ {(x,y,z)|1<= x,y,z <=n,x^2 + y^2 = z^2}

In [85]:
# square of even no. below hundred
[ square(x) for x in range(100) if iseven(x) ]

[0,
 4,
 16,
 36,
 64,
 100,
 144,
 196,
 256,
 324,
 400,
 484,
 576,
 676,
 784,
 900,
 1024,
 1156,
 1296,
 1444,
 1600,
 1764,
 1936,
 2116,
 2304,
 2500,
 2704,
 2916,
 3136,
 3364,
 3600,
 3844,
 4096,
 4356,
 4624,
 4900,
 5184,
 5476,
 5776,
 6084,
 6400,
 6724,
 7056,
 7396,
 7744,
 8100,
 8464,
 8836,
 9216,
 9604]

In [92]:
[(x,y,z) for x in range(100)\
 for y in range(100)\
 for z in range(100)\
 if x*x + y*y == z*z
]

[(0, 0, 0),
 (0, 1, 1),
 (0, 2, 2),
 (0, 3, 3),
 (0, 4, 4),
 (0, 5, 5),
 (0, 6, 6),
 (0, 7, 7),
 (0, 8, 8),
 (0, 9, 9),
 (0, 10, 10),
 (0, 11, 11),
 (0, 12, 12),
 (0, 13, 13),
 (0, 14, 14),
 (0, 15, 15),
 (0, 16, 16),
 (0, 17, 17),
 (0, 18, 18),
 (0, 19, 19),
 (0, 20, 20),
 (0, 21, 21),
 (0, 22, 22),
 (0, 23, 23),
 (0, 24, 24),
 (0, 25, 25),
 (0, 26, 26),
 (0, 27, 27),
 (0, 28, 28),
 (0, 29, 29),
 (0, 30, 30),
 (0, 31, 31),
 (0, 32, 32),
 (0, 33, 33),
 (0, 34, 34),
 (0, 35, 35),
 (0, 36, 36),
 (0, 37, 37),
 (0, 38, 38),
 (0, 39, 39),
 (0, 40, 40),
 (0, 41, 41),
 (0, 42, 42),
 (0, 43, 43),
 (0, 44, 44),
 (0, 45, 45),
 (0, 46, 46),
 (0, 47, 47),
 (0, 48, 48),
 (0, 49, 49),
 (0, 50, 50),
 (0, 51, 51),
 (0, 52, 52),
 (0, 53, 53),
 (0, 54, 54),
 (0, 55, 55),
 (0, 56, 56),
 (0, 57, 57),
 (0, 58, 58),
 (0, 59, 59),
 (0, 60, 60),
 (0, 61, 61),
 (0, 62, 62),
 (0, 63, 63),
 (0, 64, 64),
 (0, 65, 65),
 (0, 66, 66),
 (0, 67, 67),
 (0, 68, 68),
 (0, 69, 69),
 (0, 70, 70),
 (0, 71, 71),
 (0, 72, 72),
 (0, 73, 73),
 (0, 74, 74),
 (0, 75, 75),
 (0, 76, 76),
 (0, 77, 77),
 (0, 78, 78),
 (0, 79, 79),
 (0, 80, 80),
 (0, 81, 81),
 (0, 82, 82),
 (0, 83, 83),
 (0, 84, 84),
 (0, 85, 85),
 (0, 86, 86),
 (0, 87, 87),
 (0, 88, 88),
 (0, 89, 89),
 (0, 90, 90),
 (0, 91, 91),
 (0, 92, 92),
 (0, 93, 93),
 (0, 94, 94),
 (0, 95, 95),
 (0, 96, 96),
 (0, 97, 97),
 (0, 98, 98),
 (0, 99, 99),
 (1, 0, 1),
 (2, 0, 2),
 (3, 0, 3),
 (3, 4, 5),
 (4, 0, 4),
 (4, 3, 5),
 (5, 0, 5),
 (5, 12, 13),
 (6, 0, 6),
 (6, 8, 10),
 (7, 0, 7),
 (7, 24, 25),
 (8, 0, 8),
 (8, 6, 10),
 (8, 15, 17),
 (9, 0, 9),
 (9, 12, 15),
 (9, 40, 41),
 (10, 0, 10),
 (10, 24, 26),
 (11, 0, 11),
 (11, 60, 61),
 (12, 0, 12),
 (12, 5, 13),
 (12, 9, 15),
 (12, 16, 20),
 (12, 35, 37),
 (13, 0, 13),
 (13, 84, 85),
 (14, 0, 14),
 (14, 48, 50),
 (15, 0, 15),
 (15, 8, 17),
 (15, 20, 25),
 (15, 36, 39),
 (16, 0, 16),
 (16, 12, 20),
 (16, 30, 34),
 (16, 63, 65),
 (17, 0, 17),
 (18, 0, 18),
 (18, 24, 30),
 (18, 80, 82),
 (19, 0, 19),
 (20, 0, 20),
 (20, 15, 25),
 (20, 21, 29),
 (20, 48, 52),
 (21, 0, 21),
 (21, 20, 29),
 (21, 28, 35),
 (21, 72, 75),
 (22, 0, 22),
 (23, 0, 23),
 (24, 0, 24),
 (24, 7, 25),
 (24, 10, 26),
 (24, 18, 30),
 (24, 32, 40),
 (24, 45, 51),
 (24, 70, 74),
 (25, 0, 25),
 (25, 60, 65),
 (26, 0, 26),
 (27, 0, 27),
 (27, 36, 45),
 (28, 0, 28),
 (28, 21, 35),
 (28, 45, 53),
 (29, 0, 29),
 (30, 0, 30),
 (30, 16, 34),
 (30, 40, 50),
 (30, 72, 78),
 (31, 0, 31),
 (32, 0, 32),
 (32, 24, 40),
 (32, 60, 68),
 (33, 0, 33),
 (33, 44, 55),
 (33, 56, 65),
 (34, 0, 34),
 (35, 0, 35),
 (35, 12, 37),
 (35, 84, 91),
 (36, 0, 36),
 (36, 15, 39),
 (36, 27, 45),
 (36, 48, 60),
 (36, 77, 85),
 (37, 0, 37),
 (38, 0, 38),
 (39, 0, 39),
 (39, 52, 65),
 (39, 80, 89),
 (40, 0, 40),
 (40, 9, 41),
 (40, 30, 50),
 (40, 42, 58),
 (40, 75, 85),
 (41, 0, 41),
 (42, 0, 42),
 (42, 40, 58),
 (42, 56, 70),
 (43, 0, 43),
 (44, 0, 44),
 (44, 33, 55),
 (45, 0, 45),
 (45, 24, 51),
 (45, 28, 53),
 (45, 60, 75),
 (46, 0, 46),
 (47, 0, 47),
 (48, 0, 48),
 (48, 14, 50),
 (48, 20, 52),
 (48, 36, 60),
 (48, 55, 73),
 (48, 64, 80),
 (49, 0, 49),
 (50, 0, 50),
 (51, 0, 51),
 (51, 68, 85),
 (52, 0, 52),
 (52, 39, 65),
 (53, 0, 53),
 (54, 0, 54),
 (54, 72, 90),
 (55, 0, 55),
 (55, 48, 73),
 (56, 0, 56),
 (56, 33, 65),
 (56, 42, 70),
 (57, 0, 57),
 (57, 76, 95),
 (58, 0, 58),
 (59, 0, 59),
 (60, 0, 60),
 (60, 11, 61),
 (60, 25, 65),
 (60, 32, 68),
 (60, 45, 75),
 (60, 63, 87),
 (61, 0, 61),
 (62, 0, 62),
 (63, 0, 63),
 (63, 16, 65),
 (63, 60, 87),
 (64, 0, 64),
 (64, 48, 80),
 (65, 0, 65),
 (65, 72, 97),
 (66, 0, 66),
 (67, 0, 67),
 (68, 0, 68),
 (68, 51, 85),
 (69, 0, 69),
 (70, 0, 70),
 (70, 24, 74),
 (71, 0, 71),
 (72, 0, 72),
 (72, 21, 75),
 (72, 30, 78),
 (72, 54, 90),
 (72, 65, 97),
 (73, 0, 73),
 (74, 0, 74),
 (75, 0, 75),
 (75, 40, 85),
 (76, 0, 76),
 (76, 57, 95),
 (77, 0, 77),
 (77, 36, 85),
 (78, 0, 78),
 (79, 0, 79),
 (80, 0, 80),
 (80, 18, 82),
 (80, 39, 89),
 (81, 0, 81),
 (82, 0, 82),
 (83, 0, 83),
 (84, 0, 84),
 (84, 13, 85),
 (84, 35, 91),
 (85, 0, 85),
 (86, 0, 86),
 (87, 0, 87),
 (88, 0, 88),
 (89, 0, 89),
 (90, 0, 90),
 (91, 0, 91),
 (92, 0, 92),
 (93, 0, 93),
 (94, 0, 94),
 (95, 0, 95),
 (96, 0, 96),
 (97, 0, 97),
 (98, 0, 98),
 (99, 0, 99)]

In [93]:
# pythagorean triple with x,y,z below 100, no duplicate
[(x,y,z) for x in range(100)\
 for y in range(x,100)\
 for z in range(y,100)\
 if x*x + y*y == z*z
]

[(0, 0, 0),
 (0, 1, 1),
 (0, 2, 2),
 (0, 3, 3),
 (0, 4, 4),
 (0, 5, 5),
 (0, 6, 6),
 (0, 7, 7),
 (0, 8, 8),
 (0, 9, 9),
 (0, 10, 10),
 (0, 11, 11),
 (0, 12, 12),
 (0, 13, 13),
 (0, 14, 14),
 (0, 15, 15),
 (0, 16, 16),
 (0, 17, 17),
 (0, 18, 18),
 (0, 19, 19),
 (0, 20, 20),
 (0, 21, 21),
 (0, 22, 22),
 (0, 23, 23),
 (0, 24, 24),
 (0, 25, 25),
 (0, 26, 26),
 (0, 27, 27),
 (0, 28, 28),
 (0, 29, 29),
 (0, 30, 30),
 (0, 31, 31),
 (0, 32, 32),
 (0, 33, 33),
 (0, 34, 34),
 (0, 35, 35),
 (0, 36, 36),
 (0, 37, 37),
 (0, 38, 38),
 (0, 39, 39),
 (0, 40, 40),
 (0, 41, 41),
 (0, 42, 42),
 (0, 43, 43),
 (0, 44, 44),
 (0, 45, 45),
 (0, 46, 46),
 (0, 47, 47),
 (0, 48, 48),
 (0, 49, 49),
 (0, 50, 50),
 (0, 51, 51),
 (0, 52, 52),
 (0, 53, 53),
 (0, 54, 54),
 (0, 55, 55),
 (0, 56, 56),
 (0, 57, 57),
 (0, 58, 58),
 (0, 59, 59),
 (0, 60, 60),
 (0, 61, 61),
 (0, 62, 62),
 (0, 63, 63),
 (0, 64, 64),
 (0, 65, 65),
 (0, 66, 66),
 (0, 67, 67),
 (0, 68, 68),
 (0, 69, 69),
 (0, 70, 70),
 (0, 71, 71),
 (0, 72, 72),
 (0, 73, 73),
 (0, 74, 74),
 (0, 75, 75),
 (0, 76, 76),
 (0, 77, 77),
 (0, 78, 78),
 (0, 79, 79),
 (0, 80, 80),
 (0, 81, 81),
 (0, 82, 82),
 (0, 83, 83),
 (0, 84, 84),
 (0, 85, 85),
 (0, 86, 86),
 (0, 87, 87),
 (0, 88, 88),
 (0, 89, 89),
 (0, 90, 90),
 (0, 91, 91),
 (0, 92, 92),
 (0, 93, 93),
 (0, 94, 94),
 (0, 95, 95),
 (0, 96, 96),
 (0, 97, 97),
 (0, 98, 98),
 (0, 99, 99),
 (3, 4, 5),
 (5, 12, 13),
 (6, 8, 10),
 (7, 24, 25),
 (8, 15, 17),
 (9, 12, 15),
 (9, 40, 41),
 (10, 24, 26),
 (11, 60, 61),
 (12, 16, 20),
 (12, 35, 37),
 (13, 84, 85),
 (14, 48, 50),
 (15, 20, 25),
 (15, 36, 39),
 (16, 30, 34),
 (16, 63, 65),
 (18, 24, 30),
 (18, 80, 82),
 (20, 21, 29),
 (20, 48, 52),
 (21, 28, 35),
 (21, 72, 75),
 (24, 32, 40),
 (24, 45, 51),
 (24, 70, 74),
 (25, 60, 65),
 (27, 36, 45),
 (28, 45, 53),
 (30, 40, 50),
 (30, 72, 78),
 (32, 60, 68),
 (33, 44, 55),
 (33, 56, 65),
 (35, 84, 91),
 (36, 48, 60),
 (36, 77, 85),
 (39, 52, 65),
 (39, 80, 89),
 (40, 42, 58),
 (40, 75, 85),
 (42, 56, 70),
 (45, 60, 75),
 (48, 55, 73),
 (48, 64, 80),
 (51, 68, 85),
 (54, 72, 90),
 (57, 76, 95),
 (60, 63, 87),
 (65, 72, 97)]

In [94]:
# initialise a 4x3 matrix,stored row wise

l = [[ 0 for i in range(3) ] for j in range(4)]

In [95]:
l

[[0, 0, 0], [0, 0, 0], [0, 0, 0], [0, 0, 0]]

In [96]:
# warning
zerolist = [ 0 for i in range(3) ]
l = [ zerolist for j in range(4)]

In [97]:
l

[[0, 0, 0], [0, 0, 0], [0, 0, 0], [0, 0, 0]]

In [98]:
l[1][1]=7 
l  # it is because in l to same list zerolist

[[0, 7, 0], [0, 7, 0], [0, 7, 0], [0, 7, 0]]

# Exception Handling

### TYPE OF ERROR

In [99]:
k = [5;2]

SyntaxError: invalid syntax (3557246812.py, line 1)

in above code it show SyntaxError and pointing the error

 SyntaxError: invalid syntex
    
NameError : name x is not defined
    
ZeroDivisionError: division by zero
    
IndexError: list assignment index out of range

In [100]:
# SyntaxError
k = [5;2]

SyntaxError: invalid syntax (3199749481.py, line 2)

in above code it show SyntaxError and pointing the error

In [102]:
# NameError
y = 5*k  #here k is not defined

NameError: name 'k' is not defined

In [103]:
# ZeroDivisionError
y = 5/0

ZeroDivisionError: division by zero

In [104]:
# IndexError
l = [1,2]
l[3]

IndexError: list index out of range

# Standard input and output

In [6]:
#Read a line of input and assign to userdata

userdata = input("Enter a number: ")

Enter a number: 787

In [7]:
userdata = input("Enter a number:\n ")

Enter a number:
 253

In [8]:
type(userdata)

str

In [9]:
usernum = int(userdata)

In [10]:
type(usernum)

int

In [11]:
# use exceptional handling to deal with the errors

while(True):
    try:
        userdata = input('Enter a number: ')
        usernum = int(userdata)
    except ValueError:
        print('Not a number. Try again')
    else:
        break

Enter a number: gtf
Not a number. Try again
Enter a number: 52

# Print to screen

In [12]:
print('Continue on the', end = ' ')  # add space no new line
print('same line',end = '.\n')  # add full stop ,new line
print('Next line')

Continue on the same line.
Next line

In [14]:
(x,y) = (7,10)
print('x is',x,'and y is',y,'.') # here we have extra space after 10 and full stop

x is 7 and y is 10 .

In [15]:
print('x is',x,'and y is',y,'.',sep = '')# here sep do, no space due to ,

x is7and y is10.

In [16]:
print('x is ',x,' and y is ',y,'.',sep = '')

x is 7 and y is 10.

# Dealing with files

## Opening a file

fh = open("gcd.py","r") 
# FIRST argument to open file name
     # can give a full path
    
# Second argument is mode of opening file
    # Read, "r": opens a file of reading only
    # Write, "w": creates an empty file to write to
    # Append, "a": append to an existing file

## Reading through file handle

contents = fh.read()

#Read entire file into name as a single string
contents = = fh.readline()

# Read one line into name-lines end with '\n'
    # string includes the '\n', unlike input()
contents = fh.readline()

# Read entire file as list of strings
    # Each string is one line, ending with '\n'

block = fh.read(12) - read a fixed number of charecter

## Writing to file

# String Function

# Strip whitespace
s.rstrip() remove trailing whitespace

for line in contents:
    s = line.rstrip()
    
s.lstrip() removes leading whitespace
s.strip() removes leading and trailing whitespace

In [24]:
s = "    hello        "
s

'    hello        '

In [25]:
t = s.rstrip()

In [26]:
t

'    hello'

In [27]:
t= s.lstrip()

In [28]:
t

'hello        '

In [29]:
t = s.strip()

In [30]:
t

'hello'

## Searching for text

# Return first position in s where pattern occurs,-1 if no occurance of pattern
s.find(pattern)

# search for pattern in slice s[start:end]
s.find(pattern,start,end)

# Like find, but raise ValueError if pattern not found
s.index(pattern), s.index(pattern,l,r)

In [31]:
s = 'brown fox gray dog brown fox'

In [32]:
s.find("brown")  # it return ero because index of brown is zero

0

In [33]:
s.find("brown",5,len(s)) # position of brown starting from index 5 upto len(s)

19

In [34]:
s.find("cat") # it give -1 because cat isnot available

-1

## Search and Replace

# Returns copy of s with each occurance of fromstr replace by tostr
s.replace(fromstr,tostr)

# Replace at most first n copy
# Note that s itself unchanges - string are immutable
s.replace(fromstr,tostr,n)

In [36]:
s = 'brown fox gray dog brown fox'

In [37]:
s.replace('brown','black')

'black fox gray dog black fox'

In [38]:
s.replace('brown','black',1)

'black fox gray dog brown fox'

In [39]:
s.replace('brown','black',2)

'black fox gray dog black fox'

In [40]:
t = 'ababa'

In [42]:
t.replace('aba','DD')

'DDba'

In [43]:
t = 'abaaba'

In [44]:
t.replace('aba','DD')

'DDDD'

## Splitting a string

# Export spreadsheet as "comma seprated value" text value
# split the line into chunk between commas
columns = s.split(",")  # can split using any seprated string

# split into atmost n chunks
columns = s.split(" : ",n)

In [45]:
csvline = "6,7,8"

In [46]:
csvline.split(",")

['6', '7', '8']

In [47]:
csvline.split(",",1)

['6', '7,8']

In [52]:
csvline = "6#?7#?8"

In [53]:
csvline.split("#?")

['6', '7', '8']

## Joining string

# Recombine a list of string using seperator
columns = s.split(",")
joinstring = ","
csvline = joinstring.join(columns)

In [54]:
date = "06"
month = "07"
year = "2022"
today = "-".join([date,month,year])

In [55]:
today

'06-07-2022'

## Converting case

# Convert lower case to upper case
s.capitalize() # return new string with first letter uppercase,rest lower
s.lower() # convert all upper case to lower case
s.upper() # convert all lower case to upper case
s.title()  # it capitalize each word
s.swapcase()  # will invert lower case to upper case and vice versa

## Resizing string

# Return string of length n with s centred, rest blank
s.center(n)

# Fill the rest with * instead of blanks
s.center(n,"*")

# Similar,just lrft/right justify s in returned string
s.ljust(n)
s.ljust(n,"*")
s.rjust(n)

In [58]:
s = "hello"

In [59]:
s.center(50)

'                      hello                       '

In [62]:
s.center(50,"-")

'----------------------hello-----------------------'

In [63]:
s.center(50,"*")

'**********************hello***********************'

In [64]:
s.ljust(50,"-")

'hello---------------------------------------------'

In [65]:
s.rjust(50,"-")

'---------------------------------------------hello'

# to check nature of charecters instring
s.isalpha()
s.isnumeric()

In [66]:
s.isalpha()

True

In [67]:
s.isnumeric()

False

# Formatted printing

In [68]:
"First: {0}, second: {1}".format(47,11)  # here position under {} is important 0 for first argument

'First: 47, second: 11'

In [70]:
"second: {1}, First: {0}".format(47,11)

'second: 11, First: 47'

In [72]:
# Can also replace argument by name
"One: {f}, two: {s}".format(f = 47,s = 11)

'One: 47, two: 11'

In [74]:
"One: {f}, two: {s}".format(s = 11,f = 47)

'One: 47, two: 11'

### Real formatting

In [75]:
"Value: {0:3d}".format(4)
# 3d describe how to display the value 4
# d is code species that 4 should be trated as an integer value
# 3 is the width of the area to show 4

'Value:   4'

In [76]:
"Value:{0:3d}".format(4)

'Value:  4'

In [78]:
"Value: {0:6.2f}".format(47.523)
# 6.2f describe how to display the value 47.523
# f is code species that 47.523 should be trated as a floating point value
# 6 is the width of the area to show 47.523
# 2 is number of digit to show after decimal point

'Value:  47.52'

# pass, del(), none

In [80]:
# what if we just want to repeat the loop on an error?

while(True):
    try:
        userdata = input('Enter a number: ')
        usernum = int(userdata)
    except ValueError:
        pass      # do nothing
    else:
        break

Enter a number: jghg
Enter a number: hjf
Enter a number: 66

In [81]:
# Removing a list entry
l = [1,23,6,3,5,2,6,5,2,87,9,8]

In [82]:
# want to remove l[4]
del(l[4])

In [83]:
l

[1, 23, 6, 3, 2, 6, 5, 2, 87, 9, 8]

In [84]:
l = list(range(10))

In [85]:
del(l[4])
l

[0, 1, 2, 3, 5, 6, 7, 8, 9]

In [86]:
# also work for dictionary
#del(l[k]) removes the key k and it associated value

In [87]:
x= 7
del(x)
y = x+5  # because x is deleted

NameError: name 'x' is not defined

In [93]:
# Checking undefined name
# Assign a value to x only if x is undefined
try:
    x
except NameError:
    x=5

In [94]:
y = x+5

In [95]:
y

10

# Backtracking, n queens

N queens: Place N queens on a NxN chess board so that none attack each other

N= 2,3 impossible

N= 4 possible, And all bigger N as well

# overall structure
def placequeen(i,board):  # Trying row i
    for each c such that (i,c) is available:
        place queen at(i,c) and update board
        if i == n-1:
            return(True)  # Last queen has been placed
        else:
            extendsoln = placequeen(i+1,board)
        if extendsoln:
            return(True)   # this solution extends fully
        else:
            undo this move and update board
    else:
        return(False)   # Row i filed

# global scope, nested function

In [114]:
def f():
    y = x
    print(y)
    
x=7
f()

7

In [115]:
def f():
    y = x
    print(y)
    x= 22
x=7
f()

UnboundLocalError: local variable 'x' referenced before assignment

In [118]:
def f():
    y = x[0]
    print(y)
    x[0]= 22
x=[7]
f()

7

In [119]:
def f():
    global x
    y = x
    print(y)
    x= 22

x=7
f()

7

In [120]:
def f():
    global x
    y = x
    print(y)
    x= 22

x=7
f()
print(x)

7
22

# Nest function defination

In [121]:
def f():
    def g(a):
        return(a+1)
    
    def h(b):
        return(2*b)
    
    global x
    y = g(x) + h(x)
    print(y)
    x = 22
    
    
x = 7
f()

22

# sets, stacks,queues

### Sets

In [122]:
# Set
colours = {"red","black","red","green"}

In [123]:
colours

{'black', 'green', 'red'}

In [124]:
"black" in colours

True

In [125]:
# convert a list into set
numbers = set([0,1,3,2,1,4])

In [126]:
print(numbers)

{0, 1, 2, 3, 4}

In [127]:
letters = set('bannana')

In [128]:
letters

{'a', 'b', 'n'}

In [129]:
odd = set([1,3,5,7,9,11])
prime = set([2,3,5,7,11])

In [130]:
# Union
odd | prime

{1, 2, 3, 5, 7, 9, 11}

In [131]:
# intersection
odd & prime

{3, 5, 7, 11}

In [132]:
# set difference
odd - prime

{1, 9}

In [133]:
# Exclusive or ( exactly in one set)
odd^prime

{1, 2, 9}

### Stacks

Stack is a last-in,first-out list

     push(s,x) - add x to stack s
     
     pop(s) - return most recent added element

#  Maintain stack as list, push and pop from right
push(s,x) is s.append(x)
s.pop() # Python built-in, return last element

# Queues
First-in,first-out sequences

addq(q,x) # add x to rear of queue q
removeq(q) # removes element at head of q

# Abstract datatypes, classes and objects

# class and object 
class Heap:
    def __init__(self,l):
        # create heap
        # from list l
    
    def insert(self,x):
        # insert x into heap
        
    def delete_max(self,x):
        # return max element

In [135]:
class Heap:
    def __init__(self,l):
        l = [14,32,15]
        h = Heap(l)
    
    def insert(self,x):
        h.insert(17)
        h.insert(18)
        
    def delete_max(self,x):
        h.delete_max()